<footer>
  <div class="row g-0" style="margin-right: unset;">
    <div class="col-md-6"></div>
    <div class="col-md-6">
      <ul style="list-style-type: none">
        <li style="font-size: 15px"><i class="bi bi-airplane">&nbsp;&nbsp;</i>103 - 105 Vo Nguyen Giap Street, Khue My
          Ward, Ngu Hanh Son District, Danang City, Vietnam
        </li>
        <li style="font-size: 15px"><i class="bi bi-telephone-forward">&nbsp;&nbsp;</i>Tel.: 84-236-3847 333/888 * Fax:
          84-236-3847 666
        </li>
        <li style="font-size: 15px"><i class="bi bi-envelope-fill">&nbsp;</i> Email: reservation@furamavietnam.com *
          www.furamavietnam.com
        </li>
        <li style="font-size: 14px"><i class="bi bi-qr-code"></i>&nbsp;&nbsp;GDS Codes: Amadeus-GD DADFUR,
          Galileo/Apollo-GD 16236,Sabre-GD 032771, Worldspan- GD DADFU
        </li>
      </ul>
    </div>
  </div>
</footer>
