<app-header></app-header>
<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-8"><h2>Student</h2></div>
          <a routerLink="/add">Add</a>
          <app-search-student></app-search-student>
          <div class="col-sm-4">
            <app-search-student></app-search-student>
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
          <td>#</td>
          <td>Giá Xe</td>
          <td>Ngày Đi</td>
          <td>Ngày Đến</td>
          <td>Ngày Xuất Phát</td>
          <td>Giờ Xuất Phát</td>
          <td>Nhà Xe</td>
          <td>Số Lượng</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ticket of student;index as i">
          <td>{{i + 1}}</td>
          <td>{{ticket.di}}</td>
          <td>{{ticket.den}}</td>
          <td>{{ticket.gia}}</td>
          <td>{{ticket.ngay}}</td>
          <td>{{ticket.gio}}</td>
          <td>{{ticket.ve.name}}</td>
          <td>{{ticket.soLuong}}</td>
          <td>
            <button type="submit" routerLink="/dat/{{ticket.id}}"> Đặt Vé</button>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="clearfix">
        <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
        <ul class="pagination">
          <li class="page-item disabled"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
          <li class="page-item  active"><a href="#" class="page-link">1</a></li>
          <li class="page-item"><a href="#" class="page-link">2</a></li>
          <li class="page-item"><a href="#" class="page-link">3</a></li>
          <li class="page-item"><a href="#" class="page-link">4</a></li>
          <li class="page-item"><a href="#" class="page-link">5</a></li>
          <li class="page-item"><a href="#" class="page-link"><i class="fa fa-angle-double-right"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


<!--<div class="modal" id="myModal">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->

<!--      <div class="modal-header">-->
<!--        <h4 class="modal-title">Modal Heading</h4>-->
<!--        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>-->
<!--      </div>-->

<!--      <div class="modal-body">-->
<!--        Id: {{remove.id}}-->
<!--&lt;!&ndash;        Name: {{remove.price}}&ndash;&gt;-->
<!--      </div>-->

<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>-->
<!--        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="delete(remove.id)">Delete</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
