<app-header></app-header>
<table class="table table-bordered">
  <tr>
    <td>No</td>
    <td>Name Customer</td>
    <td>Birth Day</td>
    <td>Gender</td>
    <td>Id Card</td>
    <td>Phone</td>
    <td>Email</td>
    <td>Address</td>
    <td>Type Customer</td>
    <td>Delete</td>
  </tr>
  <tr *ngFor="let customer of lists;index as i">
    <td>{{i + 1}}</td>
    <td>{{customer.name}}</td>
    <td>{{customer.birth}}</td>
    <td>{{customer.gender}}</td>
    <td>{{customer.car}}</td>
    <td>{{customer.phone}}</td>
    <td>{{customer.email}}</td>
    <td>{{customer.address}}</td>
    <td>{{customer.type}}</td>
    <td>
      <a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" (click)="getCustomer(customer)">
      Delete
      </a>
    </td>


  </tr>
</table>
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        Id: {{remove.id}}
        Name: {{remove.name}}
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="delete(remove.id)">Delete</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>


