<app-header></app-header>
<table class="table table-bordered">
  <tr>
    <th scope="col">No</th>
    <th scope="col">Name Customer</th>
    <th scope="col">Birth Day</th>
    <th scope="col">Gender</th>
    <th scope="col">Id Card</th>
    <th scope="col">Phone</th>
    <th scope="col">Email</th>
    <th scope="col">Address</th>
    <th scope="col">Type Customer</th>
  </tr>
  <tr *ngFor="let customer of lists;index as i">
    <td>{{i + 1}}</td>
    <th style="color: #666666;">{{customer.name}}</th>
    <td>{{customer.birth}}</td>
    <td>{{customer.gender}}</td>
    <td>{{customer.car}}</td>
    <td>{{customer.phone}}</td>
    <td>{{customer.email}}</td>
    <td>{{customer.address}}</td>
    <td>{{customer.type}}</td>
  </tr>
</table>

<app-footer></app-footer>


