<!--<form >-->
<!--  <p>-->
<!--    <label for="id">email </label>-->
<!--    <input type="text" id="id" name="id" formControlName="id">-->
<!--  </p>-->
<!--  <div-->
<!--    *ngIf="!id.valid && (id.dirty ||id.touched)">-->
<!--    <div [hidden]="!id.errors.required">-->
<!--      Email không đúng-->
<!--    </div>-->
<!--    <div [hidden]="!id.errors.id">-->
<!--      Phải có @ phia sau-->
<!--    </div>-->
<!--  </div>-->
<!--  <p>-->
<!--    <label for="start">start </label>-->
<!--    <input type="text" id="start" name="start" formControlName="start">-->
<!--  </p>-->
<!--  <div-->
<!--    *ngIf="!start.valid && (start.dirty ||start.touched)">-->
<!--    <div [hidden]="!start.errors.required">-->
<!--      start không để trống.-->
<!--    </div>-->

<!--  </div>-->

<!--  <p>-->
<!--    <label for="end">start </label>-->
<!--    <input type="text" id="end" name="end" formControlName="end">-->
<!--  </p>-->
<!--  <div-->
<!--    *ngIf="!end.valid && (end.dirty ||end.touched)">-->
<!--    <div [hidden]="!end.errors.required">-->
<!--      end không để trống.-->
<!--    </div>-->
<!--  </div>-->

<!--  <p>-->
<!--    <label for="deposit">deposit </label>-->
<!--    <input type="text" id="deposit" name="deposit" formControlName="deposit">-->
<!--  </p>-->
<!--  <div-->
<!--    *ngIf="!deposit.valid && (deposit.dirty ||deposit.touched)">-->
<!--    <div [hidden]="!end.errors.required">-->
<!--      end không để trống.-->
<!--    </div>-->
<!--  </div>-->

<!--  <p>-->
<!--    <label for="employee">employee </label>-->
<!--    <input type="text" id="employee" name="employee" formControlName="employee">-->
<!--  </p>-->
<!--  <div-->
<!--    *ngIf="!employee.valid && (employee.dirty ||employee.touched)">-->
<!--    <div [hidden]="!employee.errors.required">-->
<!--      employee không để trống.-->
<!--    </div>-->

<!--  </div>-->

<!--&lt;!&ndash;  <p>&ndash;&gt;-->
<!--&lt;!&ndash;    <label for="customer">Facility </label>&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="text" id="customer" name="customer" formControlName="customer">&ndash;&gt;-->
<!--&lt;!&ndash;  </p>&ndash;&gt;-->
<!--&lt;!&ndash;  <div&ndash;&gt;-->
<!--&lt;!&ndash;    *ngIf="!customer.valid && (customer.dirty ||customer.touched)">&ndash;&gt;-->
<!--&lt;!&ndash;    <div [hidden]="!customer.errors.required">&ndash;&gt;-->
<!--&lt;!&ndash;      customer không để trống.&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->

<!--&lt;!&ndash;  </div>&ndash;&gt;-->

<!--&lt;!&ndash;  <p>&ndash;&gt;-->
<!--&lt;!&ndash;    <label for="facility">Facility </label>&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="text" id="facility" name="facility" formControlName="facility">&ndash;&gt;-->
<!--&lt;!&ndash;  </p>&ndash;&gt;-->
<!--&lt;!&ndash;  <div&ndash;&gt;-->
<!--&lt;!&ndash;    *ngIf="!facility.valid && (facility.dirty ||facility.touched)">&ndash;&gt;-->
<!--&lt;!&ndash;    <div [hidden]="!facility.errors">&ndash;&gt;-->
<!--&lt;!&ndash;      facility không để trống.&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--  <p>-->
<!--    <button type="submit" [disabled]="!contractForm.valid">Submit</button>-->
<!--  </p>-->

<!--</form>-->
